body {
    min-height: 100vh;
}

header {
    display:flex;
    background-color: darkslategray;
    color: beige;
    font-family: monospace;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    flex: 1;
}

header a {
color: beige;
text-decoration: none;
}

header h1 {
    padding: 20px;
    margin-left: 10px;
}

.est {
    padding: 7px;
}

.content {
    background: darkslategray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {
    border-radius: 25px;
    background: #776565;
    padding: 20px;
    width: 200px;
    height: 150px;
    justify-items: flex-start;
    flex:1;
    max-width: 33%;
    margin: 26px;
}

.headline {
    font-size:26pt;
    color: beige;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}

.description {
text-align: center;
color: beige;
font-family: monospace
}

.box a {
    text-decoration: none;
    color: beige;
}

.bjork {
    background-color:darkslategray;
    padding: 8 4 px;
    font-family: monospace;
}

img {
    max-width: 200px;
    max-height: auto;
    align-self:center;
}

.example {
    display: flex;
    justify-content: center;
    background-color: darkcyan;
    align-items: center;
    padding: 12px;
}

.toplist {
    text-align: center;
    font-family: monospace;
    color: beige;
    font-size: large;
    font-weight: 400;
    padding: 24px;
}

.list {
    display: flex;
    list-style: none;
    padding:12px;
    justify-content: space-around;
}